<link href="/main.css" rel="stylesheet" />

<%= JSON.stringify(кЄАл™©л°Э) %> <%- include('nav.ejs') -%>
<body class="grey-bg">
  <div class="input-group">
    <input type="text" class="inputVal" />
    <span class="searchBtn">к≤АмГЙ</span>
  </div>
  <div class="white-bg">
    <% for(let i = 0; i < кЄАл™©л°Э.length; i++){ %>
    <div class="list-box">
      <h4>
        <a href="/detail/<%= кЄАл™©л°Э[i]._id %>"> <%= кЄАл™©л°Э[i].title %> </a>
      </h4>
      <a href="/edit/<%= кЄАл™©л°Э[i]._id %>">вЬПпЄП</a>
      <span class="delete" data-id="<%= кЄАл™©л°Э[i]._id %>">рЯЧСпЄП</span>

      <p><%= кЄАл™©л°Э[i].content %></p>
    </div>
    <% } %>
  </div>
  <!-- <div>
    <a href="/list/1">1</a>
    <a href="/list/2">2</a>
    <a href="/list/3">3</a>
    <a href="/list/4">4</a>
  </div> -->
</body>
